@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body, html{
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

/* CSS for header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16214A;
  font-family: 'Open Sans';
}

.logo-mre{
  order: 1;
  margin-left: 50px;
}


.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #16214A;
  margin-right: 20px;
  order: 2;
}

.nav-items a {
  text-decoration: none;
  color: #f4f4f4;
  padding: 35px 20px;
}

#logo_header{
  margin-top: center;

}

main{
    position: relative;
    padding-bottom: 100px;
}

main h1{
    color: black;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


#drop-zone {
  border: 2px dashed #4a90e2;
  border-radius: 8px;
  width: 775px;
  height: 385px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
}

#drop-zone.dragover {
  border-color: #2c82c9;
  background-color: #eef6fc;
}

#file-input {
  display: none;
}

#convert-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4a90e2;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#convert-button:disabled {
  background-color: #a4c5e9;
  cursor: not-allowed;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 500px;
  height: 500px;
}

.popup.active {
  display: block;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.overlay.active {
  display: block;
}

  .footer {
    height: relative;
    position: fixed;
    left: 0;
    width: 100%;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #16214A;
  }
  
  .portal-footer p{
    color: #f4f4f4;
  }
  
  .footer-logos{
    display: flexbox;
  }